<div class="container">
    <img src="assets\klinika.svg" alt="logoklinikis"><span>  <h3>კლინიკა</h3>  </span>
<div class="info-container">
  <ul class="info-list">
    <li class="info-section">
      <h5>ინფორმაცია</h5>
      <ul>
        <li>ჩვენ შესახებ</li>
        <li>პარტნიორები</li>
        <li>ექიმებისთვის</li>
        <li>კლინიკებისთვის</li>
        <li>აფთიაქებისთვის</li>
      </ul>
    </li>
    <li class="info-section">
      <h5>პაციენტებისთვის</h5>
      <ul>
        <li>ექიმები</li>
        <li>კლინიკები</li>
        <li>ანოტაციები</li>
        <li>ბლოგი</li>
        <li>მედია</li>
      </ul>
    </li>
    <li class="info-section">
      <h5>კონტაქტი</h5>
      <ul>
        <li>სამუშაო დღეები: </li>
        <li>ორშ - პარ</li>
        <li>სამუშაო დრო: </li>
        <li>9:00 - 17:00</li>
        <li>იაკობ ნიკოლაძე N10</li>
        <li>032 2 100 100</li>

      </ul>
    </li>
    <li class="info-section">
      <h5>გამოგვყევით</h5>
      <ul>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>Youtube</li>
      </ul>
    </li>
  </ul>
</div>


</div>