<div>
<nav class="navbar">
  
  <img src="assets\klinika.svg" alt="logoklinikis"><span>  <h3>კლინიკა</h3>  </span>
  <ul class="nav-links">
    <li><a routerLink="/doctors">ექიმები</a></li>
    <li><a routerLink="/">კლინიკები</a></li>
    <li><a routerLink="/">ანოტაციები</a></li>
    <li><a routerLink="/">აქციები</a></li>
    <li><a routerLink="/">სერვისები</a></li>
    <li><a routerLink="/">მედიკამენტები</a></li>
    <li><a routerLink="/">კონტაქტი</a></li>
  
  </ul>
  <button class="logIn" (click)="goToLogIn()">ავტორიზაცია /</button>
  <button class="signUp" (click)="goToSignUp()">რეგისტრაცია</button> 
  <button class="Eng">ENG</button>
   
  <!-- <div class="auth">

       <a routerLink="/login"><h5 class="login">ავტორიზაცია</h5></a>
       <a routerLink="/signup"><h5>რეგისტრაცია</h5></a>
    </div>
    <div class="eng" >
      <a routerLink="/">ENG</a>
    </div> -->
</nav>
</div>