<div>
  <app-main-page></app-main-page>
</div>
<div class="login-overlay">
<div class="login-box">
  <h2>ავტორიზაცია</h2>
  <form #form = "ngForm" [formGroup]="loginForm" (ngSubmit)="saveLogIn()">
    <input type="text"  placeholder="ელ. ფოსტა / მომხმარებელის სახელი" formControlName="email" required>
    <input type="password"  placeholder="პაროლი" formControlName="password" required >
    <a href="/password-recovery" class="password-recovery">პაროლის აღდგენა</a>
    <button type="submit" [disabled]="!loginForm.valid" > შესვლა </button>
  </form>
</div>
</div>
