.hospitalPhoto{
    width: 1920px;
    height: 320px;
    top: 322px;
    left: 1040px;
    position: absolute;

}

.hospitalPhoto2{
width: 1920px;
height: 650px;
top: 322px;
left: 0px;
position: absolute;
   

}