<div class="SearchConteiner">
    <button>
        <img class="numberIcon" src="assets/phone.svg" alt="phone.Icon">
    </button>
    <p class="numberText">032 2 100 100</p>
    
    <button>
        <img class="locationIcon" src="assets/location.svg" alt="location.Icon">
    </button>
        <p class="locationText">იაკობ ნიკოლაძე №10</p>

    <input type="text" placeholder="მოძებნე ექიმი სახელით">
    <input type="text" placeholder="მოძებნე სპეციალობით">

    <button class="searchButton"><img src="assets/search.svg" alt="search.Icon"></button>

</div>