h3{
    Width:174px;
    Height:31px;
    font-family: FiraGO;
    font-size: 26px;
    font-weight: 500;
    line-height: 31.2px;
    text-align: left;
    color: #18A4E1;
    Top: 290px;
    Left: 150px;
    position: relative;



}

.profile-table{
    width: 1400px;
    top: 290px;
    left: 146px;
    border: 1px solid #ECF2F8;
    border-collapse: collapse;
    position: relative;
   

}
thead{
    width: auto;
    height: 48px;
    top: 364px;
    left: 146px;
    gap: 0px;
    border-radius: 10px 10px 0px 0px;
    opacity: 0px;
    background: #F0FAFF;
    width: calc(100% - 17px);

}
tbody{
    position: relative;
    height: auto;
    width: auto;
    gap: 0px;
    border: 1px 0px 0px 0px;
    overflow-y: scroll;
    overflow-y: 10px;
    max-height: 200px; 


}
tbody tr {
    line-height: 20px;  
    border: 1px solid #ECF2F8
}

td, th {
    height: 3px;
    padding: 10px 20px;  
    text-align: left;   
    border: none;      
    vertical-align: middle; 
}

button{
    Width:42px;
    Height:42px;
    border-radius: 100%;
    border: 0px;
    margin-right: 25px;
}

